@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@300&family=Roboto:wght@300;400;500;700;900&family=Zen+Antique&display=swap');

:root {
    --jaune1: #fef346;
    --orange1: #fab507;
    --ombre: #080808;
    --gris: #151515;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sheet {  
    background-color: var(--ombre);
    width: 21cm;
    height: 29.7cm;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}

/*----------------------------ARRIERE PLAN------------------------------------*/
#box {
    position: absolute;
    height: 29.7cm;
    width: 21cm;
    z-index: 0;
    overflow: hidden; /* empeche le dépassement des flottants*/
    /*border: dotted pink 2px;*/
}

.degrade {
    position: relative;
    width: 200%;
    height: 100px;
    transform: rotate(45deg);
    margin-left: -300px;
    background: linear-gradient(70deg, var(--ombre), #161616);
    z-index: 0;
}

#box :nth-child(1) {
    margin-top: -90px;
    height: 160px;
}
#box :nth-child(2) {
    margin-top: 150px;
    height: 70px;
}
#box :nth-child(3) {
    margin-top: 120px;
    height: 70px;
}
#box :nth-child(4) {
    margin-top: 60px;
    height: 110px;
}
#box :nth-child(5) {
    margin-top: 180px;
    height: 150px;
}
#box :nth-child(6) {
    margin-top: 120px;
    height: 70px;
}
#box :nth-child(7) {
    margin-top: 80px;
    height: 170px;
}


/*----------------------------------------------------------------------------*/
#main {
    position: relative;
    width:100%;
    height:100%;
    /*border: pink dotted 2px;*/
}

/*---------------------BARRE DE PRESENTATION----------------------------*/
#prenom {
    position: absolute;
    top: 29cm;
    left: 7cm;
    
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    width: 24cm;
    height: 5cm;

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    
    background: linear-gradient(180deg,var(--jaune1), var(--orange1));
    transform-origin: left top;
    transform: rotate(-90deg);
    z-index: 2;
}

h1 {
    font-size:  90px;
    font-weight: bold;
    width: 720px;
    color: var(--ombre);
}

h2 {
    font-size:  43px;
    font-weight: bold;
    width: 700px;
    text-shadow: 0px 0px 8px var(--ombre);
    -webkit-text-stroke: 1px var(--ombre);
    color: white;
}

/*--------------------ESPACE GAUCHE----------------------------*/

section {
    border: violet 1px dotted;
    width: 7cm;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#portrait {
    
    z-index: 5;
    margin-top: 0px;
}

h3 {
    background: linear-gradient(180deg,var(--jaune1), var(--orange1));
    color: var(--ombre);
    z-index: 3;
    text-align: center;

    padding: 0.1cm 0 0.1cm 0;

    font-weight: 900;
    font-size: 1.8em;
}

/*     CATEGORIES       */

#hobbies {
 /*   position: absolute;
    top: 7cm;
    left: 0cm;*/

    width: 6.6cm;
    clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);

}

#personnalite {
  /*  position: absolute;
    top: 12cm;
    left: 0cm;*/

    width: 6.6cm;
    clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
}

#competences {
   /* position: absolute;
    top: 18.5cm;*/
    width: 6.6cm;
    clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
}

p { 
    color: #fab507;

}



.textegauche {
    
    width: 6.6cm;
    border: red 2px dotted;
    /*margin: auto;*/
    text-align: center;
    left: 0.2cm;
}
/*
#hobbiestexte {
    position: absolute;
    top: 9cm;

}

#persoschema {
    position: absolute;
    top: 14cm;
}

#competencestexte {
    position: absolute;
    top: 20.8cm;

}*/

.casenoire {
    box-shadow: inset 0 0 10px rgba(214, 207, 163, 0.5);
    width: 6.4cm;
    height: 0.8cm;
    margin-top: 5px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.jauge {
    
    width: 95%;
    height: 85%;
    opacity: none;

    background: linear-gradient(180deg,#fef346, #fab507);    
    text-align: start;
    z-index: 2;

}

.jauge p{
    display: block;
    height: 100%;
    margin: 2px;



    color: #080808;
    font-weight: bold;
    border: white 2px dotted;
    z-index: 3;
}

/*clip-path: polygon(0 0, 100% 0, 90% 30%, 0 30%);   */